/*------------------------------------*\
    #SETTINGS-COLORS
\*------------------------------------*/

/**
 * Global color variables used throughout the project.
 */


$color-gray:        #333;
$color-gray-light:  #999;
$color-gray-ui:     #ddd;
$color-green:       #859900;
$color-highlight:   #fff;
$color-tint:        #f2f2f2;
$color-positive:    #3f990f;
$color-negative:    #9f102e;


// Page
$base-background-color:   #f9f9f9;
$base-text-color:         $color-gray;


// Links
$color-links:           #855990;
$color-links-carousel:  $color-gray-ui;


// Text
$color-code:            $color-green;
$color-pre-background:  $color-gray;
$color-pre:             #fff;


// Buttons
$color-btn:     $color-links;


// Page head
$color-masthead:                #fff;
$color-page-head-border:        $color-gray;
$color-page-head:               #fff;
$color-page-head-background:    #fff;


// Headings
$color-headings:    $color-gray;
$color-heading-sub: $color-gray;


// Quotes
$color-quote:           $color-gray-light;
$color-quote--banner:   $color-gray;