/*------------------------------------*\
    #TRUMPS-WIDTHS-RESPONSIVE
\*------------------------------------*/

/**
* Responsive width classes based on your responsive settings.
*/


@each $breakpoint in $breakpoints {

    $alias:     nth($breakpoint, 1);
    $condition: nth($breakpoint, 2);

    // This isn’t ideal, exclude retina media-qeuries manually.
    @if ($alias != retina) {

        @include media-query($alias) {
            /**
             * Whole.
             */
            .#{$alias}-one-whole          { width: 100% !important; }
            
            /**
             * Halves.
             */
            .#{$alias}-one-half,
            .#{$alias}-two-quarters,
            .#{$alias}-three-sixths,
            .#{$alias}-four-eighths,
            .#{$alias}-five-tenths,
            .#{$alias}-six-twelfths       { width: 50% !important; }
            
            /**
             * Thirds.
             */
            .#{$alias}-one-third,
            .#{$alias}-two-sixths,
            .#{$alias}-three-ninths,
            .#{$alias}-four-twelfths      { width: 33.3333333% !important; }
            .#{$alias}-two-thirds,
            .#{$alias}-four-sixths,
            .#{$alias}-six-ninths,
            .#{$alias}-eight-twelfths     { width: 66.6666666% !important; }
            
            /**
             * Quarters.
             */
            .#{$alias}-one-quarter,
            .#{$alias}-two-eighths,
            .#{$alias}-three-twelfths     { width: 25% !important; }
            .#{$alias}-three-quarters,
            .#{$alias}-six-eighths,
            .#{$alias}-nine-twelfths      { width: 75% !important; }
            
            /**
             * Fifths.
             */
            .#{$alias}-one-fifth,
            .#{$alias}-two-tenths         { width: 20% !important; }
            .#{$alias}-two-fifths,
            .#{$alias}-four-tenths        { width: 40% !important; }
            .#{$alias}-three-fifths,
            .#{$alias}-six-tenths         { width: 60% !important; }
            .#{$alias}-four-fifths,
            .#{$alias}-eight-tenths       { width: 80% !important; }
            
            /**
             * Sixths.
             */
            .#{$alias}-one-sixth,
            .#{$alias}-two-twelfths       { width: 16.6666666% !important; }
            .#{$alias}-five-sixths,
            .#{$alias}-ten-twelfths       { width: 83.3333333% !important; }
            
            /**
             * Eighths.
             */
            .#{$alias}-one-eighth         { width: 12.5% !important; }
            .#{$alias}-three-eighths      { width: 37.5% !important; }
            .#{$alias}-five-eighths       { width: 62.5% !important; }
            .#{$alias}-seven-eighths      { width: 87.5% !important; }
            
            /**
             * Ninths.
             */
            .#{$alias}-one-ninth          { width: 11.1111111% !important; }
            .#{$alias}-two-ninths         { width: 22.2222222% !important; }
            .#{$alias}-four-ninths        { width: 44.4444444% !important; }
            .#{$alias}-five-ninths        { width: 55.5555555% !important; }
            .#{$alias}-seven-ninths       { width: 77.7777777% !important; }
            .#{$alias}-eight-ninths       { width: 88.8888888% !important; }
            
            /**
             * Tenths.
             */
            .#{$alias}-one-tenth          { width: 10% !important; }
            .#{$alias}-three-tenths       { width: 30% !important; }
            .#{$alias}-seven-tenths       { width: 70% !important; }
            .#{$alias}-nine-tenths        { width: 90% !important; }
            
            /**
             * Twelfths.
             */
            .#{$alias}-one-twelfth        { width:  8.3333333% !important; }
            .#{$alias}-five-twelfths      { width: 41.6666666% !important; }
            .#{$alias}-seven-twelfths     { width: 58.3333333% !important; }
            .#{$alias}-eleven-twelfths    { width: 91.6666666% !important; }

        } // Close media query.

    } // Close retina check.

} // Close breakpoints loop.