/*------------------------------------*\
	#BRICKWIG
\*------------------------------------*/

/**
 * CONTENTS
 *
 * SETTINGS
 * Default..............Default settings.
 * Colors...............Manage our color palette in isolation.
 * Responsive...........Set up and name our breakpoints.
 *
 * TOOLS
 * Functions............Default functions.
 * Mixins...............Default mixins.
 * Responsive...........Responsive tooling (requires responsive settings).
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Reset................A pared back reset to remove margins.
 * Box-sizing...........Better default 'box-sizing'.
 * Shared...............Sensibly and tersely share global commonalities.
 *
 * BASE
 * Page.................Page-level styles (HTML element).
 * Headings.............Heading styles
 * Type.................Misc type styles
 * Links................Hyperlink styles
 * Lists................Brickwig list styles
 * Images...............Brickwig images
 *
 * OBJECTS
 * Wrappers.............Wrappers and page constraints.
 * Buttons..............inuitcss' buttons module.
 * Layout...............inuitcss' layout tool.
 * Box..................inuitcss' box object.
 * Media................The media object.
 * Flag.................The flag object.
 * UI list..............inuitcss' UI list.
 *
 * COMPONENTS
 * Page-head............Page header styles.
 * Bands................Full-width page bands.
 * Promo................Lead promo blocks on the home page.
 * Page-foot............Page footer styles.
 * Page-micro...........Page copyright styles.
 * Site-nav.............Site's main nav area.
 * Buttons..............Extension of inuitcss' buttons.
 * Boxes................Extension of inuitcss' box object
 * Post.................Post-specific styles.
 * Pull-quote...........Large, featured quotes.
 * Carousel.............Pure CSS carousel component.
 * Iconic...............Iconic icon styles.
 * Sprites..............Image sprite styles.
 * Feature list.........Big blocky lists of feature items.
 * Annotate.............Pure CSS figure annotations.
 * Ads..................AdPacks overrides.
 * Client-list..........Amazing people I've had the pleasure of working with.
 *
 * TRUMPS
 * Clearfix.............I can't believe we still need this in 2014.
 * Widths...............Simple width helper classes.
 * Widths-responsive....Polyfill for responsive width classes.
 * Spacing..............Micro-level spacing.
 */


/**
 * #SETTINGS
 */
@import "settings.defaults";
@import "settings.colors";
@import "settings.responsive";


/**
 * #TOOLS
 */
@import "tools.functions";
@import "tools.mixins";
@import "tools.responsive";


/**
 * #GENERIC
 */ 
@import "generic.normalize";
@import "generic.reset";
@import "generic.box-sizing";
@import "generic.shared";


/**
 * #BASE
 */
@import "base.page";
@import "base.headings";
@import "base.type";
@import "base.links";
@import "base.lists";
@import "base.images";


/**
 * #OBJECTS
 
@import "objects.wrappers";

$btn-background:      $color-btn;
$btn-radius:          $base-round;
$btn-border-width:    2px;
$enable-btn--small:   true;
$enable-btn--full:    true;
@import "bower_components/buttons/objects.buttons";

$enable-layout--middle:   true;
$enable-layout--bottom:   true;
$enable-layout--large:    true;
@import "bower_components/layout/objects.layout";

@import "bower_components/box/objects.box";
@import "bower_components/media/objects.media";

$enable-flag--rev:        true;
$enable-flag--responsive: true;
$flag-collapse-at:        479px !default;
@import "bower_components/flag/objects.flag";

/**
 * Kinda hacky for now, but needs more testing before rolling back into main
 * flag object.
 
.flag__img {
    white-space: nowrap;
}

$list-ui-border-color:    $color-gray-ui;
$enable-list-ui--small:   true;
@import "bower_components/list-ui/objects.list-ui";

/**
 * Quick, inline extension of the inuitcss list-ui object.
 
.list-ui__title {
    display: block;
    @include font-size(12px);
    @include font-weight(bold);
    color: $color-gray-light;
    margin-bottom: 0;
}


/**
 * #COMPONENTS
 
@import "components.page-head";
@import "components.bands";
@import "components.promo";
@import "components.page-foot";
@import "components.page-micro";
@import "components.site-nav";
@import "components.buttons";
@import "components.boxes";
@import "components.post";
@import "components.pull-quote";
@import "components.carousel";
@import "components.iconic";
@import "components.sprites";
@import "components.feature-list";
@import "components.annotate";
@import "components.ads";
@import "components.client-list";


/**
 * #TRUMPS
 */
@import "trumps.clearfix";
@import "trumps.widths";
@import "trumps.widths-responsive";
$enable-margins: true;
@import "trumps.spacing";