html,body {
  height: 100%;
  width: 100%;
}

body {
  color: #333333;
  font-family: "Roboto Slab", serif;
  font-size: 1em;
  padding: 1em;
  text-align: center;
  width: 100%;
}

ul {
	list-style-type: none;
}