@charset "UTF-8";
/*------------------------------------*\
	#BRICKWIG
\*------------------------------------*/
/**
 * CONTENTS
 *
 * SETTINGS
 * Default..............Default settings.
 * Colors...............Manage our color palette in isolation.
 * Responsive...........Set up and name our breakpoints.
 *
 * TOOLS
 * Functions............Default functions.
 * Mixins...............Default mixins.
 * Responsive...........Responsive tooling (requires responsive settings).
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Reset................A pared back reset to remove margins.
 * Box-sizing...........Better default 'box-sizing'.
 * Shared...............Sensibly and tersely share global commonalities.
 *
 * BASE
 * Page.................Page-level styles (HTML element).
 * Headings.............Heading styles
 * Type.................Misc type styles
 * Links................Hyperlink styles
 * Lists................Brickwig list styles
 * Images...............Brickwig images
 *
 * OBJECTS
 * Wrappers.............Wrappers and page constraints.
 * Buttons..............inuitcss' buttons module.
 * Layout...............inuitcss' layout tool.
 * Box..................inuitcss' box object.
 * Media................The media object.
 * Flag.................The flag object.
 * UI list..............inuitcss' UI list.
 *
 * COMPONENTS
 * Page-head............Page header styles.
 * Bands................Full-width page bands.
 * Promo................Lead promo blocks on the home page.
 * Page-foot............Page footer styles.
 * Page-micro...........Page copyright styles.
 * Site-nav.............Site's main nav area.
 * Buttons..............Extension of inuitcss' buttons.
 * Boxes................Extension of inuitcss' box object
 * Post.................Post-specific styles.
 * Pull-quote...........Large, featured quotes.
 * Carousel.............Pure CSS carousel component.
 * Iconic...............Iconic icon styles.
 * Sprites..............Image sprite styles.
 * Feature list.........Big blocky lists of feature items.
 * Annotate.............Pure CSS figure annotations.
 * Ads..................AdPacks overrides.
 * Client-list..........Amazing people I've had the pleasure of working with.
 *
 * TRUMPS
 * Clearfix.............I can't believe we still need this in 2014.
 * Widths...............Simple width helper classes.
 * Widths-responsive....Polyfill for responsive width classes.
 * Spacing..............Micro-level spacing.
 */
/**
 * #SETTINGS
 */
/*------------------------------------*\
    #SETTINGS-DEFAULTS
\*------------------------------------*/
/**
 * These variables are defaults; they are required for using the rest
 * the framework.
 */
/*------------------------------------*\
    #SETTINGS-COLORS
\*------------------------------------*/
/**
 * Global color variables used throughout the project.
 */
/*------------------------------------*\
    #SETTINGS-RESPONSIVE
\*------------------------------------*/
/**
 * These variables are defaults for responsive breakpoints; they are required 
 * for using the rest the framework.
 */
/**
 * #TOOLS
 */
/*------------------------------------*\
    #TOOLS-FUNCTIONS
\*------------------------------------*/
/**
 * inuitcss makes use of a few functions that are also available for you to use
 * later on in your extension of the framework.
 */
/*------------------------------------*\
    #TOOLS-MIXINS
\*------------------------------------*/
/**
 * inuitcss has a number of default mixins that the framework, and developers
 * working with it, can make use of.
 */
/*------------------------------------*\
    #TOOLS-RESPONSIVE
\*------------------------------------*/
/**
 * Global responsive mixin used throughout the project.
 */
/**
 * #GENERIC
 */
/*------------------------------------*\
    #GENERIC-NORMALIZE
\*------------------------------------*/
/**
 * normalize.css v3.0.2 | MIT License | git.io/normalize 
 *
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct 'block' display not defined for any HTML5 element in IE 8/9.
 * Correct 'block' display not defined for 'details' or 'summary' in IE 10/11
 * and Firefox.
 * Correct 'block' display not defined for 'main' in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct 'inline-block' display not defined in IE 8/9.
 * 2. Normalize vertical alignment of 'progress' in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying 'audio' without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address '[hidden]' styling not present in IE 8/9/10.
 * Hide the 'template' element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to 'bolder' in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable 'h1' font-size and margin within 'section' and 'article'
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent 'sub' and 'sup' affecting 'line-height' in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside 'a' element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd 'em'-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of 'select', unless a 'border' property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address 'overflow' set to 'hidden' in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent 'text-transform' inheritance for 'button' and 'select'.
 * All other form control elements do not inherit 'text-transform' values.
 * Correct 'button' style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct 'select' style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native 'audio'
 *    and 'video' controls.
 * 2. Correct inability to style clickable 'input' types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    'input' and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting 'line-height' on 'input' using '!important' in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to 'content-box' in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * 'font-size' values of the 'input', it causes the cursor style of the
 * decrement button to change from 'default' to 'text'.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address 'appearance' set to 'searchfield' in Safari and Chrome.
 * 2. Address 'box-sizing' set to 'border-box' in Safari and Chrome
 *    (include '-moz' to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and 'textfield' appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct 'color' not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the 'font-weight' (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/*------------------------------------*\
    #GENERIC-RESET
\*------------------------------------*/
/**
 * A pared back reset to remove margins.
 */
/**
 * As well as using normalize.css, it is often advantageous to remove all
 * margins from certain elements.
 */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, form, fieldset, legend, figure, table, th, td, caption, hr {
  margin: 0;
  padding: 0; }

/**
 * Give a help cursor to elements that give extra info on ':hover'.
 */
abbr[title], dfn[title] {
  cursor: help; }

/**
 * Remove underlines from potentially troublesome elements.
 */
ins, u {
  text-decoration: none; }

/**
 * Apply faux underlines to inserted text via 'border-bottom'.
 */
ins {
  border-bottom: 1px solid; }

/*------------------------------------*\
    #GENERIC-BOX-SIZING
\*------------------------------------*/
/**
 * Set the global 'box-sizing' state to 'border-box'.
 *
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 * paulirish.com/2012/box-sizing-border-box-ftw
 */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*------------------------------------*\
    #GENERIC-SHARED
\*------------------------------------*/
/**
 * Sensibly and tersely share global commonalities.
 */
/**
 * Where 'margin-bottom' is concerned,this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
 */
h1, h2, h3, h4, h5, h6, ul, ol, dl, blockquote, p, address, table, fieldset, figure, pre {
  margin-bottom: 24px;
  margin-bottom: 1.5rem; }

/**
 * Where 'margin-left' is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once,here.
 */
ul, ol, dd {
  margin-left: 48px;
  margin-left: 3rem; }

/**
 * #BASE
 */
/*------------------------------------*\
    #BASE-PAGE
\*------------------------------------*/
/** 
 * Base settigns for html tag.
 */
/**
 * High-, page-level styling.
 *
 * 1. Set the default 'font-size' and 'line-height' for the entire project,
 *    sourced from our default variables. The 'font-size' is calculated to exist
 *    in ems, the 'line-height' is calculated to exist unitlessly.
 * 2. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 * 4. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 */
html {
  background-color: #f9f9f9;
  color: #333;
  font-family: "Roboto Slab", serif;
  font-size: 1em;
  /* [1] */
  -moz-osx-font-smoothing: grayscale;
  /* [2] */
  -webkit-font-smoothing: antialiased;
  /* [2] */
  font-weight: 400;
  line-height: 1.5;
  /* [1] */
  min-height: 100%;
  /* [3] */
  overflow-y: scroll;
  /* [4] */ }

/*------------------------------------*\
    #BASE-HEADINGS
\*------------------------------------*/
/**
 * Base settings for h1-h6 tags.
 */
/**
 * Headings 1–6, with corresponding Greek-alphabet abstract classes for double-
 * stranded heading hierarchy: csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
 */
h1, .alpha {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.33333; }

h2, .beta {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.6; }

h3, .gamma {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1; }

h4, .delta {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2; }

h5, .epsilon {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h6, .zeta {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71429; }

/*------------------------------------*\
    #BASE-TYPE
\*------------------------------------*/
/**
 * Base settigns for type based tags.
 */
/**
 * Headings 1–6.
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #333; }

/**
 * Emboldened elements.
 */
a, strong, b, dt {
  font-weight: 600; }

/*------------------------------------*\
    #BASE-LINKS
\*------------------------------------*/
/**
 * Base settings for a tag.
 */
a {
  text-decoration: none;
  color: #855990; }
  a:hover, a:active, a:focus {
    text-decoration: underline; }

/*------------------------------------*\
    #BASE-LISTS
\*------------------------------------*/
/** 
 * Base settings for li tags.
 */
/**
 * Remove extra vertical spacing when nesting lists.
 */
li > ol, li > ul {
  margin-bottom: 0; }

/*------------------------------------*\
    #BASE-IMAGES
\*------------------------------------*/
/**
 * Base settings for img tag.
 */
/**
 * 1. Offset 'alt' text from surrounding copy.
 * 2. Fluid images for responsive purposes.
 * 3. Setting 'vertical-align' removes the whitespace that appears under 'img'
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using 'display: block;'.
 */
img {
  font-style: italic;
  /* [1] */
  max-width: 100%;
  /* [2] */
  vertical-align: middle;
  /* [3] */ }

/**
 * 1. Google Maps breaks if 'max-width: 100%' acts upon it; use their selector
 *    to remove the effects.
 * 2. If a 'width' and/or 'height' attribute have been explicitly defined, let’s
 *    not make the image fluid.
 */
.gm-style img, img[width], img[height] {
  /* [2] */
  max-width: none; }

/**
 * #OBJECTS
 
@import "objects.wrappers";

$btn-background:      $color-btn;
$btn-radius:          $base-round;
$btn-border-width:    2px;
$enable-btn--small:   true;
$enable-btn--full:    true;
@import "bower_components/buttons/objects.buttons";

$enable-layout--middle:   true;
$enable-layout--bottom:   true;
$enable-layout--large:    true;
@import "bower_components/layout/objects.layout";

@import "bower_components/box/objects.box";
@import "bower_components/media/objects.media";

$enable-flag--rev:        true;
$enable-flag--responsive: true;
$flag-collapse-at:        479px !default;
@import "bower_components/flag/objects.flag";

/**
 * Kinda hacky for now, but needs more testing before rolling back into main
 * flag object.
 
.flag__img {
    white-space: nowrap;
}

$list-ui-border-color:    $color-gray-ui;
$enable-list-ui--small:   true;
@import "bower_components/list-ui/objects.list-ui";

/**
 * Quick, inline extension of the inuitcss list-ui object.
 
.list-ui__title {
    display: block;
    @include font-size(12px);
    @include font-weight(bold);
    color: $color-gray-light;
    margin-bottom: 0;
}


/**
 * #COMPONENTS
 
@import "components.page-head";
@import "components.bands";
@import "components.promo";
@import "components.page-foot";
@import "components.page-micro";
@import "components.site-nav";
@import "components.buttons";
@import "components.boxes";
@import "components.post";
@import "components.pull-quote";
@import "components.carousel";
@import "components.iconic";
@import "components.sprites";
@import "components.feature-list";
@import "components.annotate";
@import "components.ads";
@import "components.client-list";


/**
 * #TRUMPS
 */
/*------------------------------------*\
    #TRUMPS-CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 */
/**
 * Extend the clearfix class with Sass to avoid the '.clearfix' class appearing
 * over and over in your markup.
 */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/*------------------------------------*\
    #TRUMPS-WIDTHS
\*------------------------------------*/
/**
 * A series of width helper classes that you can use to size things like grid
 * systems. Classes can take a  spoken-word format (e.g. 'two-thirds').
 */
/**
 * Whole.
 */
.one-whole {
  width: 100% !important; }

/**
 * Halves.
 */
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
  width: 50% !important; }

/**
 * Thirds.
 */
.one-third, .two-sixths, .three-ninths, .four-twelfths {
  width: 33.33333% !important; }

.two-thirds, .four-sixths, .six-ninths, .eight-twelfths {
  width: 66.66667% !important; }

/**
 * Quarters.
 */
.one-quarter, .two-eighths, .three-twelfths {
  width: 25% !important; }

.three-quarters, .six-eighths, .nine-twelfths {
  width: 75% !important; }

/**
 * Fifths.
 */
.one-fifth, .two-tenths {
  width: 20% !important; }

.two-fifths, .four-tenths {
  width: 40% !important; }

.three-fifths, .six-tenths {
  width: 60% !important; }

.four-fifths, .eight-tenths {
  width: 80% !important; }

/**
 * Sixths.
 */
.one-sixth, .two-twelfths {
  width: 16.66667% !important; }

.five-sixths, .ten-twelfths {
  width: 83.33333% !important; }

/**
 * Eighths.
 */
.one-eighth {
  width: 12.5% !important; }

.three-eighths {
  width: 37.5% !important; }

.five-eighths {
  width: 62.5% !important; }

.seven-eighths {
  width: 87.5% !important; }

/**
 * Ninths.
 */
.one-ninth {
  width: 11.11111% !important; }

.two-ninths {
  width: 22.22222% !important; }

.four-ninths {
  width: 44.44444% !important; }

.five-ninths {
  width: 55.55556% !important; }

.seven-ninths {
  width: 77.77778% !important; }

.eight-ninths {
  width: 88.88889% !important; }

/**
 * Tenths.
 */
.one-tenth {
  width: 10% !important; }

.three-tenths {
  width: 30% !important; }

.seven-tenths {
  width: 70% !important; }

.nine-tenths {
  width: 90% !important; }

/**
 * Twelfths.
 */
.one-twelfth {
  width: 8.33333% !important; }

.five-twelfths {
  width: 41.66667% !important; }

.seven-twelfths {
  width: 58.33333% !important; }

.eleven-twelfths {
  width: 91.66667% !important; }

/*------------------------------------*\
    #TRUMPS-WIDTHS-RESPONSIVE
\*------------------------------------*/
/**
* Responsive width classes based on your responsive settings.
*/
@media screen and (max-width: 719px) {
  /**
             * Whole.
             */
  .palm-one-whole {
    width: 100% !important; }
  /**
             * Halves.
             */
  .palm-one-half, .palm-two-quarters, .palm-three-sixths, .palm-four-eighths, .palm-five-tenths, .palm-six-twelfths {
    width: 50% !important; }
  /**
             * Thirds.
             */
  .palm-one-third, .palm-two-sixths, .palm-three-ninths, .palm-four-twelfths {
    width: 33.33333% !important; }
  .palm-two-thirds, .palm-four-sixths, .palm-six-ninths, .palm-eight-twelfths {
    width: 66.66667% !important; }
  /**
             * Quarters.
             */
  .palm-one-quarter, .palm-two-eighths, .palm-three-twelfths {
    width: 25% !important; }
  .palm-three-quarters, .palm-six-eighths, .palm-nine-twelfths {
    width: 75% !important; }
  /**
             * Fifths.
             */
  .palm-one-fifth, .palm-two-tenths {
    width: 20% !important; }
  .palm-two-fifths, .palm-four-tenths {
    width: 40% !important; }
  .palm-three-fifths, .palm-six-tenths {
    width: 60% !important; }
  .palm-four-fifths, .palm-eight-tenths {
    width: 80% !important; }
  /**
             * Sixths.
             */
  .palm-one-sixth, .palm-two-twelfths {
    width: 16.66667% !important; }
  .palm-five-sixths, .palm-ten-twelfths {
    width: 83.33333% !important; }
  /**
             * Eighths.
             */
  .palm-one-eighth {
    width: 12.5% !important; }
  .palm-three-eighths {
    width: 37.5% !important; }
  .palm-five-eighths {
    width: 62.5% !important; }
  .palm-seven-eighths {
    width: 87.5% !important; }
  /**
             * Ninths.
             */
  .palm-one-ninth {
    width: 11.11111% !important; }
  .palm-two-ninths {
    width: 22.22222% !important; }
  .palm-four-ninths {
    width: 44.44444% !important; }
  .palm-five-ninths {
    width: 55.55556% !important; }
  .palm-seven-ninths {
    width: 77.77778% !important; }
  .palm-eight-ninths {
    width: 88.88889% !important; }
  /**
             * Tenths.
             */
  .palm-one-tenth {
    width: 10% !important; }
  .palm-three-tenths {
    width: 30% !important; }
  .palm-seven-tenths {
    width: 70% !important; }
  .palm-nine-tenths {
    width: 90% !important; }
  /**
             * Twelfths.
             */
  .palm-one-twelfth {
    width: 8.33333% !important; }
  .palm-five-twelfths {
    width: 41.66667% !important; }
  .palm-seven-twelfths {
    width: 58.33333% !important; }
  .palm-eleven-twelfths {
    width: 91.66667% !important; } }

@media screen and (min-width: 720px) and (max-width: 1023px) {
  /**
             * Whole.
             */
  .lap-one-whole {
    width: 100% !important; }
  /**
             * Halves.
             */
  .lap-one-half, .lap-two-quarters, .lap-three-sixths, .lap-four-eighths, .lap-five-tenths, .lap-six-twelfths {
    width: 50% !important; }
  /**
             * Thirds.
             */
  .lap-one-third, .lap-two-sixths, .lap-three-ninths, .lap-four-twelfths {
    width: 33.33333% !important; }
  .lap-two-thirds, .lap-four-sixths, .lap-six-ninths, .lap-eight-twelfths {
    width: 66.66667% !important; }
  /**
             * Quarters.
             */
  .lap-one-quarter, .lap-two-eighths, .lap-three-twelfths {
    width: 25% !important; }
  .lap-three-quarters, .lap-six-eighths, .lap-nine-twelfths {
    width: 75% !important; }
  /**
             * Fifths.
             */
  .lap-one-fifth, .lap-two-tenths {
    width: 20% !important; }
  .lap-two-fifths, .lap-four-tenths {
    width: 40% !important; }
  .lap-three-fifths, .lap-six-tenths {
    width: 60% !important; }
  .lap-four-fifths, .lap-eight-tenths {
    width: 80% !important; }
  /**
             * Sixths.
             */
  .lap-one-sixth, .lap-two-twelfths {
    width: 16.66667% !important; }
  .lap-five-sixths, .lap-ten-twelfths {
    width: 83.33333% !important; }
  /**
             * Eighths.
             */
  .lap-one-eighth {
    width: 12.5% !important; }
  .lap-three-eighths {
    width: 37.5% !important; }
  .lap-five-eighths {
    width: 62.5% !important; }
  .lap-seven-eighths {
    width: 87.5% !important; }
  /**
             * Ninths.
             */
  .lap-one-ninth {
    width: 11.11111% !important; }
  .lap-two-ninths {
    width: 22.22222% !important; }
  .lap-four-ninths {
    width: 44.44444% !important; }
  .lap-five-ninths {
    width: 55.55556% !important; }
  .lap-seven-ninths {
    width: 77.77778% !important; }
  .lap-eight-ninths {
    width: 88.88889% !important; }
  /**
             * Tenths.
             */
  .lap-one-tenth {
    width: 10% !important; }
  .lap-three-tenths {
    width: 30% !important; }
  .lap-seven-tenths {
    width: 70% !important; }
  .lap-nine-tenths {
    width: 90% !important; }
  /**
             * Twelfths.
             */
  .lap-one-twelfth {
    width: 8.33333% !important; }
  .lap-five-twelfths {
    width: 41.66667% !important; }
  .lap-seven-twelfths {
    width: 58.33333% !important; }
  .lap-eleven-twelfths {
    width: 91.66667% !important; } }

@media screen and (min-width: 720px) {
  /**
             * Whole.
             */
  .lap-and-up-one-whole {
    width: 100% !important; }
  /**
             * Halves.
             */
  .lap-and-up-one-half, .lap-and-up-two-quarters, .lap-and-up-three-sixths, .lap-and-up-four-eighths, .lap-and-up-five-tenths, .lap-and-up-six-twelfths {
    width: 50% !important; }
  /**
             * Thirds.
             */
  .lap-and-up-one-third, .lap-and-up-two-sixths, .lap-and-up-three-ninths, .lap-and-up-four-twelfths {
    width: 33.33333% !important; }
  .lap-and-up-two-thirds, .lap-and-up-four-sixths, .lap-and-up-six-ninths, .lap-and-up-eight-twelfths {
    width: 66.66667% !important; }
  /**
             * Quarters.
             */
  .lap-and-up-one-quarter, .lap-and-up-two-eighths, .lap-and-up-three-twelfths {
    width: 25% !important; }
  .lap-and-up-three-quarters, .lap-and-up-six-eighths, .lap-and-up-nine-twelfths {
    width: 75% !important; }
  /**
             * Fifths.
             */
  .lap-and-up-one-fifth, .lap-and-up-two-tenths {
    width: 20% !important; }
  .lap-and-up-two-fifths, .lap-and-up-four-tenths {
    width: 40% !important; }
  .lap-and-up-three-fifths, .lap-and-up-six-tenths {
    width: 60% !important; }
  .lap-and-up-four-fifths, .lap-and-up-eight-tenths {
    width: 80% !important; }
  /**
             * Sixths.
             */
  .lap-and-up-one-sixth, .lap-and-up-two-twelfths {
    width: 16.66667% !important; }
  .lap-and-up-five-sixths, .lap-and-up-ten-twelfths {
    width: 83.33333% !important; }
  /**
             * Eighths.
             */
  .lap-and-up-one-eighth {
    width: 12.5% !important; }
  .lap-and-up-three-eighths {
    width: 37.5% !important; }
  .lap-and-up-five-eighths {
    width: 62.5% !important; }
  .lap-and-up-seven-eighths {
    width: 87.5% !important; }
  /**
             * Ninths.
             */
  .lap-and-up-one-ninth {
    width: 11.11111% !important; }
  .lap-and-up-two-ninths {
    width: 22.22222% !important; }
  .lap-and-up-four-ninths {
    width: 44.44444% !important; }
  .lap-and-up-five-ninths {
    width: 55.55556% !important; }
  .lap-and-up-seven-ninths {
    width: 77.77778% !important; }
  .lap-and-up-eight-ninths {
    width: 88.88889% !important; }
  /**
             * Tenths.
             */
  .lap-and-up-one-tenth {
    width: 10% !important; }
  .lap-and-up-three-tenths {
    width: 30% !important; }
  .lap-and-up-seven-tenths {
    width: 70% !important; }
  .lap-and-up-nine-tenths {
    width: 90% !important; }
  /**
             * Twelfths.
             */
  .lap-and-up-one-twelfth {
    width: 8.33333% !important; }
  .lap-and-up-five-twelfths {
    width: 41.66667% !important; }
  .lap-and-up-seven-twelfths {
    width: 58.33333% !important; }
  .lap-and-up-eleven-twelfths {
    width: 91.66667% !important; } }

@media screen and (max-width: 1023px) {
  /**
             * Whole.
             */
  .portable-one-whole {
    width: 100% !important; }
  /**
             * Halves.
             */
  .portable-one-half, .portable-two-quarters, .portable-three-sixths, .portable-four-eighths, .portable-five-tenths, .portable-six-twelfths {
    width: 50% !important; }
  /**
             * Thirds.
             */
  .portable-one-third, .portable-two-sixths, .portable-three-ninths, .portable-four-twelfths {
    width: 33.33333% !important; }
  .portable-two-thirds, .portable-four-sixths, .portable-six-ninths, .portable-eight-twelfths {
    width: 66.66667% !important; }
  /**
             * Quarters.
             */
  .portable-one-quarter, .portable-two-eighths, .portable-three-twelfths {
    width: 25% !important; }
  .portable-three-quarters, .portable-six-eighths, .portable-nine-twelfths {
    width: 75% !important; }
  /**
             * Fifths.
             */
  .portable-one-fifth, .portable-two-tenths {
    width: 20% !important; }
  .portable-two-fifths, .portable-four-tenths {
    width: 40% !important; }
  .portable-three-fifths, .portable-six-tenths {
    width: 60% !important; }
  .portable-four-fifths, .portable-eight-tenths {
    width: 80% !important; }
  /**
             * Sixths.
             */
  .portable-one-sixth, .portable-two-twelfths {
    width: 16.66667% !important; }
  .portable-five-sixths, .portable-ten-twelfths {
    width: 83.33333% !important; }
  /**
             * Eighths.
             */
  .portable-one-eighth {
    width: 12.5% !important; }
  .portable-three-eighths {
    width: 37.5% !important; }
  .portable-five-eighths {
    width: 62.5% !important; }
  .portable-seven-eighths {
    width: 87.5% !important; }
  /**
             * Ninths.
             */
  .portable-one-ninth {
    width: 11.11111% !important; }
  .portable-two-ninths {
    width: 22.22222% !important; }
  .portable-four-ninths {
    width: 44.44444% !important; }
  .portable-five-ninths {
    width: 55.55556% !important; }
  .portable-seven-ninths {
    width: 77.77778% !important; }
  .portable-eight-ninths {
    width: 88.88889% !important; }
  /**
             * Tenths.
             */
  .portable-one-tenth {
    width: 10% !important; }
  .portable-three-tenths {
    width: 30% !important; }
  .portable-seven-tenths {
    width: 70% !important; }
  .portable-nine-tenths {
    width: 90% !important; }
  /**
             * Twelfths.
             */
  .portable-one-twelfth {
    width: 8.33333% !important; }
  .portable-five-twelfths {
    width: 41.66667% !important; }
  .portable-seven-twelfths {
    width: 58.33333% !important; }
  .portable-eleven-twelfths {
    width: 91.66667% !important; } }

@media screen and (min-width: 1024px) {
  /**
             * Whole.
             */
  .desk-one-whole {
    width: 100% !important; }
  /**
             * Halves.
             */
  .desk-one-half, .desk-two-quarters, .desk-three-sixths, .desk-four-eighths, .desk-five-tenths, .desk-six-twelfths {
    width: 50% !important; }
  /**
             * Thirds.
             */
  .desk-one-third, .desk-two-sixths, .desk-three-ninths, .desk-four-twelfths {
    width: 33.33333% !important; }
  .desk-two-thirds, .desk-four-sixths, .desk-six-ninths, .desk-eight-twelfths {
    width: 66.66667% !important; }
  /**
             * Quarters.
             */
  .desk-one-quarter, .desk-two-eighths, .desk-three-twelfths {
    width: 25% !important; }
  .desk-three-quarters, .desk-six-eighths, .desk-nine-twelfths {
    width: 75% !important; }
  /**
             * Fifths.
             */
  .desk-one-fifth, .desk-two-tenths {
    width: 20% !important; }
  .desk-two-fifths, .desk-four-tenths {
    width: 40% !important; }
  .desk-three-fifths, .desk-six-tenths {
    width: 60% !important; }
  .desk-four-fifths, .desk-eight-tenths {
    width: 80% !important; }
  /**
             * Sixths.
             */
  .desk-one-sixth, .desk-two-twelfths {
    width: 16.66667% !important; }
  .desk-five-sixths, .desk-ten-twelfths {
    width: 83.33333% !important; }
  /**
             * Eighths.
             */
  .desk-one-eighth {
    width: 12.5% !important; }
  .desk-three-eighths {
    width: 37.5% !important; }
  .desk-five-eighths {
    width: 62.5% !important; }
  .desk-seven-eighths {
    width: 87.5% !important; }
  /**
             * Ninths.
             */
  .desk-one-ninth {
    width: 11.11111% !important; }
  .desk-two-ninths {
    width: 22.22222% !important; }
  .desk-four-ninths {
    width: 44.44444% !important; }
  .desk-five-ninths {
    width: 55.55556% !important; }
  .desk-seven-ninths {
    width: 77.77778% !important; }
  .desk-eight-ninths {
    width: 88.88889% !important; }
  /**
             * Tenths.
             */
  .desk-one-tenth {
    width: 10% !important; }
  .desk-three-tenths {
    width: 30% !important; }
  .desk-seven-tenths {
    width: 70% !important; }
  .desk-nine-tenths {
    width: 90% !important; }
  /**
             * Twelfths.
             */
  .desk-one-twelfth {
    width: 8.33333% !important; }
  .desk-five-twelfths {
    width: 41.66667% !important; }
  .desk-seven-twelfths {
    width: 58.33333% !important; }
  .desk-eleven-twelfths {
    width: 91.66667% !important; } }

/*------------------------------------*\
    #TRUMPS-SPACING
\*------------------------------------*/
/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * '.(m|p)(t|r|b|l|h|v)(-|+|0) {}' = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */
/**
     * Margin helper classes.
     *
     * Add margins.
     */
.m {
  margin: base-spacing-unit !important; }

.mt {
  margin-top: base-spacing-unit !important; }

.mr {
  margin-right: base-spacing-unit !important; }

.mb {
  margin-bottom: base-spacing-unit !important; }

.ml {
  margin-left: base-spacing-unit !important; }

.mh {
  margin-right: base-spacing-unit !important;
  margin-left: base-spacing-unit !important; }

.mv {
  margin-top: base-spacing-unit !important;
  margin-bottom: base-spacing-unit !important; }
