/*------------------------------------*\
	#SPRINGCM-UI-PREVIEW
\*------------------------------------*/


/**
 * CONTENTS
 *
 * SETUP
 * Component............Default component settings and tools.
 *
 * COMPONENT CODE
 * Code.................The styles.
 */

$component-name: springcm-preview;

@import "../../resources/styles/setup.component";

/*------------------------------------*\
	#SPRINGCM-UI-PREVIEW Component Code
\*------------------------------------*/

//TODO: These are initial testing values. Replace with real styles.
springcm-preview
{
	display: block;
	border: 1px solid red;

	.page
	{
		width:200px;
		height:200px;
		border:1px solid #727272;
		margin:20px;
	}
}
