@import "_settings.global.scss";
@import "_tools.mixins.scss";
/*------------------------------------*\
	#BASE-LINKS
\*------------------------------------*/

/**
 * SpringCM
 *
 * SpringCM global link styles.
 */

@include component-import($component-name)
{
	a {
		text-decoration: none;
		color: $color-link;

		@include attention() {
			text-decoration: underline;
		}
	}
}