@import "_settings.global.scss";
@import "_tools.aliases.scss";
@import "_tools.mixins.scss";
/*------------------------------------*\
	#BASE-PAGE
\*------------------------------------*/

/**
 * SpringCM
 *
 * SpringCM global base.
 */


/**
 * High-, page-level styling.
 *
 * 1. Set the default 'font', 'font-size' and 'line-height' for the entire project,
 *    sourced from our default variables. The 'font-size' is calculated to exist
 *    in ems, the 'line-height' is calculated to exist unitlessly.
 * 2. Ensure the page always fills at least the entire height of the viewport.
 * 3. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 */

%base-settings
{
	font-family: Arial, sans-serif;
	font-size: ($base-font-size / 16px) * 1em; /* [1] */
	line-height: $base-line-height / $base-font-size; /* [1] */
	background-color: $color-background;
	color: $color-text;
	min-height: 100%; /* [2] */
	-moz-osx-font-smoothing: grayscale; /* [3] */
	 -webkit-font-smoothing: antialiased; /* [3] */
}

@include component-import($component-name)
{
	@if & {
		& {
			@extend %base-settings;
		}
	} @else {
		html {
			@extend %base-settings;
		}
	}
}