/*------------------------------------*\
    #COMPONENTS-PREVIEW-PAGE
\*------------------------------------*/

/**
 */

.preview-page {
	margin: $spacing-unit--small;
	text-align: center;
}

.preview-page__item {
	box-shadow: 0 1px 4px 0 $spring-graphite;
	display: inline-block;
}
