@import "_settings.colors.scss";
/*------------------------------------*\
	#SETTINGS-GLOBAL
\*------------------------------------*/

/**
 * SpringCM
 *
 * SpringCM global variables.
 */


// Base Colors
$color-background: $spring-white;
$color-text: $spring-ink;
$color-link: $spring-teal;
