$font-icons: (
	info: "\e609",
	docx: "\eadc",
	xlsx: "\eadd",
	ppt: "\e60b",
	pdf: "\eada",
	png: "\e927",
	folder: "\e605",
	upload: "\e601",
	create_folder: "\e931",
	share: "\e9cb",
	cut: "\e602",
	tag: "\e600",
	copy: "\e603",
	paste: "\e604",
	search: "\e986",
	folder_settings: "\e92f",
	send_email: "\e606"
);