@font-face {
    font-family: 'josefin_sansbold';
    src: url('fonts/josefinsans-bold-webfont.eot');
    src: url('fonts/josefinsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/josefinsans-bold-webfont.woff2') format('woff2'),
         url('fonts/josefinsans-bold-webfont.woff') format('woff'),
         url('fonts/josefinsans-bold-webfont.ttf') format('truetype'),
         url('fonts/josefinsans-bold-webfont.svg#josefin_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'josefin_sanslight';
    src: url('fonts/josefinsans-light-webfont.eot');
    src: url('fonts/josefinsans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/josefinsans-light-webfont.woff2') format('woff2'),
         url('fonts/josefinsans-light-webfont.woff') format('woff'),
         url('fonts/josefinsans-light-webfont.ttf') format('truetype'),
         url('fonts/josefinsans-light-webfont.svg#josefin_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'josefin_sansregular';
    src: url('fonts/josefinsans-regular-webfont.eot');
    src: url('fonts/josefinsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/josefinsans-regular-webfont.woff2') format('woff2'),
         url('fonts/josefinsans-regular-webfont.woff') format('woff'),
         url('fonts/josefinsans-regular-webfont.ttf') format('truetype'),
         url('fonts/josefinsans-regular-webfont.svg#josefin_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'josefin_sanssemibold';
    src: url('fonts/josefinsans-semibold-webfont.eot');
    src: url('fonts/josefinsans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/josefinsans-semibold-webfont.woff2') format('woff2'),
         url('fonts/josefinsans-semibold-webfont.woff') format('woff'),
         url('fonts/josefinsans-semibold-webfont.ttf') format('truetype'),
         url('fonts/josefinsans-semibold-webfont.svg#josefin_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exercise';
    src:url('fonts/exercise.eot?-p14t25');
    src:url('fonts/exercise.eot?#iefix-p14t25') format('embedded-opentype'),
        url('fonts/exercise.woff?-p14t25') format('woff'),
        url('fonts/exercise.ttf?-p14t25') format('truetype'),
        url('fonts/exercise.svg?-p14t25#exercise') format('svg');
    font-weight: normal;
    font-style: normal;
}