.action-buttons {
	background: #fff;
	border: solid 1px #eee;
	font-family: arial;
	font-size: 12px;
	margin: 0;
	overflow:hidden;
	padding: 0;
	padding: 4px;
	position: fixed;
	right: 0;
	top: 150px;
	transition: all 250ms ease;
	width: 170px;
	z-index: 9999;

	@include respond-to( x-small ) {
		border: none;
		position: static;
		width: 100%;
	}
	.toggle-button {
    	background: #333;
    	border-radius: 3px;
    	color: #fff;
    	display: block;
    	padding: 10px;
    	text-align: center;
    	text-decoration: none;
    	width: 100%;

    	&:before {
			content:'\2192';
		}

		&:hover {
			background: #1d242e;
		}

    	span {
    		position: relative;
    	}

    	@include respond-to( x-small ) {
			display: none;
		}
  	}

	&.toggled {
		width: 60px;

		@include respond-to( x-small ) {
			width: 100%;
		}

		.toggle-button {
			&:before {
				content:'\2190';
			}
    	}
  	}

	.action-button-list {
		align-content: left;
		display: flex;
		flex-flow: column wrap;
		height: 220px;
		width: 200px;

		@include respond-to( x-small ) {
			position: static;
			width: 100%;
			height: auto;
			display: initial;
		}

		button {
			background-color: #eee;
			border-radius: 5px;
			border:none;
			color: #333;
			height: 50px;
			margin: 0 4px 4px 0;
			padding: 15px;
			text-align: center;
			text-decoration: none;
			transition: all 250ms ease;
			width: 50px;

			@include respond-to( x-small ) {
				float: left;
			}

			&:before {
				font-size: 20px;
			}

			&:hover {
				background: #fff;
				cursor: pointer;

				&:before {
					color: #5298df;
				}
			}
		}
	}
}