.document-list {
	float: right;
	width: 60%;

	@include respond-to( small ) {
		width: 100%;
	}

	table {
		width: 100%;

		tr {
			th {
				background: #e6ecf1;
				padding: 60px 30px;
				border-bottom: solid 2px #eee;
				border-right: solid 1px #ccc;
				text-align: left;
				font: {
					size: 18px;
					family: 'josefin_sansbold'
				}

				&:last-of-type {
					border-right: none;
				}

				@include respond-to( small ) {
					padding: 10px;
				}
			}

			td {
				border-bottom: solid 1px #ebebeb;
				font: {
					family: 'josefin_sansregular';
					size: 16px;
				}
				padding: 35px 30px;

				&:nth-of-type( 3 ) {
					padding-right: 90px;
					@include respond-to( small ) {
						padding-right: 0;
					}
				}

				@include respond-to( small ) {
					padding: 10px;
				}

				h3 {
					font: {
						size: 20px;
						family: 'josefin_sansregular';
					}
					margin-bottom: 10px;
					margin-left: 25px;
					position: relative;

					@include respond-to( x-small ) {
						margin-left: 0;
					}

					span {
						display: block;
						font-size: 14px;
						margin-top: 10px;
					}

					&:before {
						position: absolute;
						left: -30px;
						@include respond-to( x-small ) {
							display: none;
						}
					}

					&.icon {

						&-envelope:before {
							color: #bea014;
						}

						&-docx:before {
							color: #2b579a;
						}

						&-ppt:before {
							color: #d24725;
						}
						
						&-xlsx:before {
							color: #217346;
						}

						&-png:before {
							color: #d04f15;
						}

						&-pdf:before {
							color: #d04f15;
						}
					
						@include respond-to( small ) {
							font-size: 16px;
						}
					}
				}

				&.select {
					label {
						width: 0;
						text-indent: -9999px;
						position: relative;
						display: inline-block;
						&:after {
							content: "";
							position: absolute;
							right: -1px;
							border: solid 1px #1d242e;
							width: 20px;
							height: 20px;
							top: -2px;
							background: #fff;
						}
						&:hover {
							&:after {
								background: #eee;
								cursor: pointer;
							}
						}
					}
					input {
						float: left;
						&[type="checkbox"]:checked ~ label:after {
							background: #1d242e;
						}

					}
				}
			}

			&:nth-child( even ) td {
				background: #f8f8f8;
			}
				
			&.selected td {
				background: #fffcc6;
				border-bottom-color: #fff;
			}	
		}	
	}
}