.list-information {
	background: #1d242e;
	height: 100%;
	left: 25%;
	padding: 0 20px;
	position: fixed;
	top:0;
	width: 15%;

	@include respond-to( small ) {
		position: static;
		width: 100%;
		float: left;
	}

	ul {
		float: left;
		margin: 75px 0 0;
		width: 100%;

		@include respond-to( small ) {
			margin-top: 25px;
		}

		li {
			border-bottom: dotted 1px lighten( #1d242e, 10% );
			margin-bottom: 20px;
			padding-bottom: 20px;

			@include respond-to( small ) {
				width: 50%;
				float: left;
				padding-bottom: 10px;
				margin-bottom: 10px;

				&:nth-child( 2n + 1 ) {
					clear: both;
				}

				&:last-of-type {
					border: none;
				}
			}

			&.total-files {
				border-bottom: {
					style: solid;
					width: 2px;
				}
			}
		}

		a {
			color: #c3d7ef;
			display: block;
			font-family: 'josefin_sanssemibold';
			font-size: 32px;
			transition: all 300ms ease;

			span {
				color: #788b94;
				display: block;
				font-family: 'josefin_sanslight';
				font-size: 17px;
				transition: all 300ms ease;
			}

			&.selected {
				color: #00bff3;
				&:hover, &:active {
					color: #00bff3;
				}
			}

			&:hover, &:active {
				color: #fff;
				span {
					color: #fff;
				}
			}
		}
	}
}
