.profile-information {
	padding: 100px 30px;
	background: #171d25;
	position: fixed;
	left: 0;
	width: 25%;
	top: 0;
	height: 100%;

	@include respond-to( small ) {
		position: static;
		float: left;
		width: 100%;
		padding: 30px;
	}

	h1 {
		color: #fff;
		font: {
			size: 40px;
			family: 'josefin_sansbold';
		}
		margin-bottom: 10px;
	}

	h2 {
		color: #fff;
		font: {
			size: 25px;
			family: 'josefin_sansregular';
		}
	}
}