/*------------------------------------*\
        #COMPONENTS-PRODUCT
\*------------------------------------*/

/* Product styles */


.c-product {
    margin: $base-spacing-unit;
}

.c-product__img {
    margin-bottom: $base-spacing-unit;
}

.c-product__name {
    text-align: center;
}
