/*------------------------------------*\
    #GRID
\*------------------------------------*/

/**
 * The grid object simply stacks an image on top of some text-like content.
 */

.o-grid {
    display: flex;
    flex-wrap: wrap; 
    align-items: flex-end;
}

.o-grid__item {
    flex-basis: 20%;
    text-align: center;
}

@media screen and (max-width: 63.9375em) {
    .o-grid__item {
        flex-basis: 50%;
    }   
}