///*------------------------------------*\
//    #SETTINGS.DEFAULTS
//\*------------------------------------*/

// Default variables used throughout the project.


// High-level base settings.
$$base-font-size:          16px !default;
$base-line-height:         24px !default;
$base-text-color:          #333 !default;
$base-background-color:    #fff !default;


// Framework variables, sourced from variables defined above.
$base-spacing-unit:           $inuit-base-line-height;
$base-spacing-unit--tiny:     round($inuit-base-spacing-unit * 0.25);
$base-spacing-unit--small:    round($inuit-base-spacing-unit * 0.5);
$base-spacing-unit--large:    round($inuit-base-spacing-unit * 2);
$base-spacing-unit--huge:     round($inuit-base-spacing-unit * 4);
